/*********************************************************
COLOR VARIABLES
**********************************************************/
:root {
    --primaryColor: rgb(71, 197, 252);
    --secondaryColor: rgb(71, 107, 252);
}

/*********************************************************
STYLING
**********************************************************/
body {
    background-color: var(--secondaryColor);
    font-family: 'Lato', sans-serif;
}

.heading {
    background-color: rgb(46, 46, 46);
    color: white;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 5px 0px;
}

button {
    background-color: var(--primaryColor);
    padding: 10px;
    margin: 5px;
    border: none;
    width: 95%;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

li {
    list-style-type:disc;
}

.modal {
    display: none;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.modalError {
    color: red;
}

/*********************************************************
LAYOUT
**********************************************************/
.grid {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr;
}

.gridItem {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.detailsItem {
    padding: 5px;
}

.amountGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.amountItem {
    text-align: right;
}

.laptopPic {
    display: block;
    margin: auto;
    width: 250px;
}

/*********************************************************
FOR DESKTOP
**********************************************************/
@media (min-width: 1081px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .buttonsAtTheBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .details {
        grid-column: 1/5;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 10px;
    }

    .laptopPic {
        margin: 0px;
    }
}